In [117]:
import pandas as pd

In [118]:
data = pd.read_csv('Dataset .csv')

In [119]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [120]:
data.shape

(9551, 21)

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [122]:
data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [123]:
data.dropna(subset=['Cuisines'], inplace=True)

In [124]:
print(data.isnull().sum())

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [125]:
data.shape

(9542, 21)

In [126]:
for col in data.columns:
    print(f"Unique values for column '{col}':", len(data[col].unique()))

Unique values for column 'Restaurant ID': 9542
Unique values for column 'Restaurant Name': 7437
Unique values for column 'Country Code': 15
Unique values for column 'City': 140
Unique values for column 'Address': 8910
Unique values for column 'Locality': 1206
Unique values for column 'Locality Verbose': 1263
Unique values for column 'Longitude': 8111
Unique values for column 'Latitude': 8668
Unique values for column 'Cuisines': 1825
Unique values for column 'Average Cost for two': 140
Unique values for column 'Currency': 12
Unique values for column 'Has Table booking': 2
Unique values for column 'Has Online delivery': 2
Unique values for column 'Is delivering now': 2
Unique values for column 'Switch to order menu': 1
Unique values for column 'Price range': 4
Unique values for column 'Aggregate rating': 33
Unique values for column 'Rating color': 6
Unique values for column 'Rating text': 6
Unique values for column 'Votes': 1012

In [127]:
selected_columns = ['Restaurant ID','Restaurant Name','City','Address','Cuisines','Price range','Aggregate rating','Has Online delivery']
data = data[selected_columns]
data

,Restaurant ID,Restaurant Name,City,Address,Cuisines,Price range,Aggregate rating,Has Online delivery
0,6317637,Le Petit Souffle,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","French, Japanese, Desserts",3,4.8,No
1,6304287,Izakaya Kikufuji,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...",Japanese,3,4.5,No
2,6300002,Heat - Edsa Shangri-La,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Seafood, Asian, Filipino, Indian",4,4.4,No
3,6318506,Ooma,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","Japanese, Sushi",4,4.9,No
4,6314302,Sambo Kojin,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","Japanese, Korean",4,4.8,No
...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,ï¿½ï¿½stanbul,"Kemankeï¿½ï¿½ Karamustafa Paï¿½ï¿½a Mahallesi, RÛ±htÛ±m ...",Turkish,3,4.1,No
9547,5908749,Ceviz Aï¿½ï¿½acÛ±,ï¿½ï¿½stanbul,"Koï¿½ï¿½uyolu Mahallesi, Muhittin ï¿½ï¿½stï¿½_ndaï¿½ï¿½ Cadd...","World Cuisine, Patisserie, Cafe",3,4.2,No
9548,5915807,Huqqa,ï¿½ï¿½stanbul,"Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...","Italian, World Cuisine",4,3.7,No
9549,5916112,Aï¿½ï¿½ï¿½k Kahve,ï¿½ï¿½stanbul,"Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...",Restaurant Cafe,4,4.0,No
9550,5927402,Walter's Coffee Roastery,ï¿½ï¿½stanbul,"Cafeaï¿½ï¿½a Mahallesi, BademaltÛ± Sokak, No 21/B, ...",Cafe,2,4.0,No

In [128]:
data.shape

(9542, 8)

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant ID        9542 non-null   int64
 1   Restaurant Name      9542 non-null   object
 2   City                 9542 non-null   object
 3   Address              9542 non-null   object
 4   Cuisines             9542 non-null   object
 5   Price range          9542 non-null   int64
 6   Aggregate rating     9542 non-null   float64
 7   Has Online delivery  9542 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 670.9+ KB

In [143]:
def restaurant_details_by_name(restaurant_name, data):
    restaurants= data[data['Restaurant Name'] == restaurant_name]
    if restaurants.empty:
        return "No Data Available."
    else:
        for index, row in restaurants.iterrows():
            print("Restaurant ID:", row['Restaurant ID'])
            print("Restaurant Name:", row['Restaurant Name'])
            print("City:", row['City'])
            print("Address:", row['Address'])
            print("Cuisines:", row['Cuisines'])
            print("Price range:", row['Price range'])
            print("Aggregate rating:", row['Aggregate rating'])
            print("Has Online delivery:", row['Has Online delivery'])
            print("\n")
    

userdata=input("Enter Restaurent Name: ")
restaurant_details_by_name(userdata, data)

Enter Restaurent Name: Aï¿½ï¿½ï¿½k Kahve
Restaurant ID: 5916112
Restaurant Name: Aï¿½ï¿½ï¿½k Kahve
City: ï¿½ï¿½stanbul
Address: Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, No 64/B, Beï¿½ï¿½iktaï¿½ï¿½, ï¿½ï¿½stanbul
Cuisines: Restaurant Cafe
Price range: 4
Aggregate rating: 4.0
Has Online delivery: No

In [131]:
def restaurant_details_by_city(city, data):
    restaurants= data[data['City'] == city]
    if restaurants.empty:
        return "No data available."
    else:
        for index, row in restaurants.iterrows():
            print("Restaurant ID:", row['Restaurant ID'])
            print("Restaurant Name:", row['Restaurant Name'])
            print("City:", row['City'])
            print("Address:", row['Address'])
            print("Cuisines:", row['Cuisines'])
            print("Price range:", row['Price range'])
            print("Aggregate rating:", row['Aggregate rating'])
            print("Has Online delivery:", row['Has Online delivery'])
            print("\n")
    

user_data=input("Enter City: ")
restaurant_details_by_city(user_data, data)

Enter City: gyt

'No data available.'

In [132]:
def restaurant_details_by_price(price, data):
    restaurants = data[data['Price range'] == price]
    if restaurants.empty:
        return "No data available."
    else:
        num_restaurants = min(10, len(restaurants))
        print(f"Total number of restaurants with price range {price}: {len(restaurants)}")
        print(f"Displaying a sample of {num_restaurants} restaurants:\n")
        for index, row in restaurants.head(10).iterrows():
            print("Restaurant ID:", row['Restaurant ID'])
            print("Restaurant Name:", row['Restaurant Name'])
            print("City:", row['City'])
            print("Address:", row['Address'])
            print("Cuisines:", row['Cuisines'])
            print("Price range:", row['Price range'])
            print("Aggregate rating:", row['Aggregate rating'])
            print("Has Online delivery:", row['Has Online delivery'])
            print("\n")
    

user_data=int(input("Enter price(1-4): "))
restaurant_details_by_price(user_data, data)

Enter price(1-4): 4
Total number of restaurants with price range 4: 586
Displaying a sample of 10 restaurants:

Restaurant ID: 6300002
Restaurant Name: Heat - Edsa Shangri-La
City: Mandaluyong City
Address: Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City
Cuisines: Seafood, Asian, Filipino, Indian
Price range: 4
Aggregate rating: 4.4


Restaurant ID: 6318506
Restaurant Name: Ooma
City: Mandaluyong City
Address: Third Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City
Cuisines: Japanese, Sushi
Price range: 4
Aggregate rating: 4.9


Restaurant ID: 6314302
Restaurant Name: Sambo Kojin
City: Mandaluyong City
Address: Third Floor, Mega Atrium, SM Megamall, Ortigas, Mandaluyong City
Cuisines: Japanese, Korean
Price range: 4
Aggregate rating: 4.8


Restaurant ID: 6300781
Restaurant Name: Buffet 101
City: Pasay City
Address: Building K, SM By The Bay, Sunset Boulevard, Mall of Asia Complex (MOA), Pasay City
Cuisines: Asian, European
Price range: 4
Aggregate rating: 4.0


Restaurant ID: 6301290
Restaurant Name: Vikings
City: Pasay City
Address: Building B, By The Bay, Seaside Boulevard, Mall of Asia Complex (MOA), Pasay City
Cuisines: Seafood, Filipino, Asian, European
Price range: 4
Aggregate rating: 4.2


Restaurant ID: 6300010
Restaurant Name: Spiral - Sofitel Philippine Plaza Manila
City: Pasay City
Address: Plaza Level, Sofitel Philippine Plaza Manila, CCP Complex, Pasay City
Cuisines: European, Asian, Indian
Price range: 4
Aggregate rating: 4.9


Restaurant ID: 6308205
Restaurant Name: Wildflour Cafe + Bakery
City: Taguig City
Address: Ground Floor, Netlima Building, 4th Avenue Corner 26th Street, Bonifacio Global City, Taguig City
Cuisines: Cafe, Bakery, American, Italian
Price range: 4
Aggregate rating: 4.4


Restaurant ID: 6315438
Restaurant Name: NIU by Vikings
City: Taguig City
Address: Sixth Floor, SM Aura Premier, C5 Road Corner 26th Street, Bonifacio Global City, Taguig City
Cuisines: Seafood, American, Mediterranean, Japanese
Price range: 4
Aggregate rating: 4.7


Restaurant ID: 6310406
Restaurant Name: The Food Hall by Todd English
City: Taguig City
Address: Fifth Floor, SM Aura Premier, C5 Corner 26th Street, Bonifacio Global City, Taguig City
Cuisines: American, Asian, Italian, Seafood
Price range: 4
Aggregate rating: 4.5


Restaurant ID: 6601218
Restaurant Name: New Koto
City: Brasï¿½_lia
Address: SCS 212, Bloco B, Loja 26, Asa Sul, Brasï¿½_lia
Cuisines: Japanese
Price range: 4
Aggregate rating: 3.7

In [133]:
def restaurant_details_by_rating(rating, data):
    restaurants = data[data['Aggregate rating'] >= aggregate_rating]
    if restaurants.empty:
        return "No data available."
    else:
        num_restaurants = min(10, len(restaurants))
        print(f"Total number of restaurants with minimum aggregate rating {rating}: {len(restaurants)}")
        print(f"Displaying a sample of {num_restaurants} restaurants:\n")
        for index, row in restaurants.head(10).iterrows():
            print("Restaurant ID:", row['Restaurant ID'])
            print("Restaurant Name:", row['Restaurant Name'])
            print("City:", row['City'])
            print("Address:", row['Address'])
            print("Cuisines:", row['Cuisines'])
            print("Price range:", row['Price range'])
            print("Aggregate rating:", row['Aggregate rating'])
            print("Has Online delivery:", row['Has Online delivery'])
            print("\n")
    

user_data=float(input("Enter minimum aggregate rating(0-4.9): "))
restaurant_details_by_rating(user_data, data)

Enter minimum aggregate rating(0-4.9): 3.8
Total number of restaurants with minimum aggregate rating 3.8: 1378
Displaying a sample of 10 restaurants:

Restaurant ID: 6317637
Restaurant Name: Le Petit Souffle
City: Makati City
Address: Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City
Cuisines: French, Japanese, Desserts
Price range: 3
Aggregate rating: 4.8


Restaurant ID: 6304287
Restaurant Name: Izakaya Kikufuji
City: Makati City
Address: Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City
Cuisines: Japanese
Price range: 3
Aggregate rating: 4.5


Restaurant ID: 6300002
Restaurant Name: Heat - Edsa Shangri-La
City: Mandaluyong City
Address: Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City
Cuisines: Seafood, Asian, Filipino, Indian
Price range: 4
Aggregate rating: 4.4


Restaurant ID: 6318506
Restaurant Name: Ooma
City: Mandaluyong City
Address: Third Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City
Cuisines: Japanese, Sushi
Price range: 4
Aggregate rating: 4.9


Restaurant ID: 6314302
Restaurant Name: Sambo Kojin
City: Mandaluyong City
Address: Third Floor, Mega Atrium, SM Megamall, Ortigas, Mandaluyong City
Cuisines: Japanese, Korean
Price range: 4
Aggregate rating: 4.8


Restaurant ID: 18189371
Restaurant Name: Din Tai Fung
City: Mandaluyong City
Address: Ground Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City
Cuisines: Chinese
Price range: 3
Aggregate rating: 4.4


Restaurant ID: 6300781
Restaurant Name: Buffet 101
City: Pasay City
Address: Building K, SM By The Bay, Sunset Boulevard, Mall of Asia Complex (MOA), Pasay City
Cuisines: Asian, European
Price range: 4
Aggregate rating: 4.0


Restaurant ID: 6301290
Restaurant Name: Vikings
City: Pasay City
Address: Building B, By The Bay, Seaside Boulevard, Mall of Asia Complex (MOA), Pasay City
Cuisines: Seafood, Filipino, Asian, European
Price range: 4
Aggregate rating: 4.2


Restaurant ID: 6300010
Restaurant Name: Spiral - Sofitel Philippine Plaza Manila
City: Pasay City
Address: Plaza Level, Sofitel Philippine Plaza Manila, CCP Complex, Pasay City
Cuisines: European, Asian, Indian
Price range: 4
Aggregate rating: 4.9


Restaurant ID: 6314987
Restaurant Name: Locavore
City: Pasig City
Address: Brixton Technology Center, 10 Brixton Street, Kapitolyo, Pasig City
Cuisines: Filipino
Price range: 3
Aggregate rating: 4.8

In [134]:
df=data
df['sep_cuisines'] = df['Cuisines'].str.split(', ')
df= df.explode('sep_cuisines').reset_index(drop=True)
df

,Restaurant ID,Restaurant Name,City,Address,Cuisines,Price range,Aggregate rating,Has Online delivery,sep_cuisines
0,6317637,Le Petit Souffle,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","French, Japanese, Desserts",3,4.8,No,French
1,6317637,Le Petit Souffle,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","French, Japanese, Desserts",3,4.8,No,Japanese
2,6317637,Le Petit Souffle,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","French, Japanese, Desserts",3,4.8,No,Desserts
3,6304287,Izakaya Kikufuji,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...",Japanese,3,4.5,No,Japanese
4,6300002,Heat - Edsa Shangri-La,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Seafood, Asian, Filipino, Indian",4,4.4,No,Seafood
...,...,...,...,...,...,...,...,...,...
19705,5908749,Ceviz Aï¿½ï¿½acÛ±,ï¿½ï¿½stanbul,"Koï¿½ï¿½uyolu Mahallesi, Muhittin ï¿½ï¿½stï¿½_ndaï¿½ï¿½ Cadd...","World Cuisine, Patisserie, Cafe",3,4.2,No,Cafe
19706,5915807,Huqqa,ï¿½ï¿½stanbul,"Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...","Italian, World Cuisine",4,3.7,No,Italian
19707,5915807,Huqqa,ï¿½ï¿½stanbul,"Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...","Italian, World Cuisine",4,3.7,No,World Cuisine
19708,5916112,Aï¿½ï¿½ï¿½k Kahve,ï¿½ï¿½stanbul,"Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...",Restaurant Cafe,4,4.0,No,Restaurant Cafe
19709,5927402,Walter's Coffee Roastery,ï¿½ï¿½stanbul,"Cafeaï¿½ï¿½a Mahallesi, BademaltÛ± Sokak, No 21/B, ...",Cafe,2,4.0,No,Cafe

In [135]:
def restaurant_details_by_cuisines(cuisines, data):
    restaurants = data[data['sep_cuisines'] == cuisines]
    if restaurants.empty:
        return "No data available."
    else:
        num_restaurants = min(10, len(restaurants))
        print(f"Total number of restaurants with cuisine {cuisines}: {len(restaurants)}")
        print(f"Displaying a sample of {num_restaurants} restaurants:\n")
        ids=set()
        for index, row in restaurants.head(10).iterrows():
            if(row['Restaurant ID'] not in ids):
                print("Restaurant ID:", row['Restaurant ID'])
                print("Restaurant Name:", row['Restaurant Name'])
                print("City:", row['City'])
                print("Address:", row['Address'])
                print("Cuisines:", row['Cuisines'])
                print("Price range:", row['Price range'])
                print("Aggregate rating:", row['Aggregate rating'])
                print("Has Online delivery:", row['Has Online delivery'])
                print("\n")
                ids.add(row['Restaurant ID'])
    

user_data=input("Enter cuisines you prefer: ")
restaurant_details_by_cuisines(user_data, df)

Enter cuisines you prefer: Seafood
Total number of restaurants with cuisine Seafood: 174
Displaying a sample of 10 restaurants:

Restaurant ID: 6300002
Restaurant Name: Heat - Edsa Shangri-La
City: Mandaluyong City
Address: Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City
Cuisines: Seafood, Asian, Filipino, Indian
Price range: 4
Aggregate rating: 4.4


Restaurant ID: 6301290
Restaurant Name: Vikings
City: Pasay City
Address: Building B, By The Bay, Seaside Boulevard, Mall of Asia Complex (MOA), Pasay City
Cuisines: Seafood, Filipino, Asian, European
Price range: 4
Aggregate rating: 4.2


Restaurant ID: 6315438
Restaurant Name: NIU by Vikings
City: Taguig City
Address: Sixth Floor, SM Aura Premier, C5 Road Corner 26th Street, Bonifacio Global City, Taguig City
Cuisines: Seafood, American, Mediterranean, Japanese
Price range: 4
Aggregate rating: 4.7


Restaurant ID: 6310406
Restaurant Name: The Food Hall by Todd English
City: Taguig City
Address: Fifth Floor, SM Aura Premier, C5 Corner 26th Street, Bonifacio Global City, Taguig City
Cuisines: American, Asian, Italian, Seafood
Price range: 4
Aggregate rating: 4.5


Restaurant ID: 6601158
Restaurant Name: Manzuï¿½ï¿½
City: Brasï¿½_lia
Address: Pontï¿½ï¿½o Lago Sul, SHIS 10, Lote 9, Lago Sul, Brasï¿½_lia
Cuisines: Seafood
Price range: 4
Aggregate rating: 3.2


Restaurant ID: 7303219
Restaurant Name: Pesqueiro Eco Gourmet
City: Rio de Janeiro
Address: Praia da Barra da Tijuca, Avenida Lï¿½_cio Costa, Ilha 25, Barra da Tijuca, Rio de Janeiro
Cuisines: Seafood, Bar Food, Brazilian
Price range: 4
Aggregate rating: 4.0


Restaurant ID: 7302140
Restaurant Name: Shirley
City: Rio de Janeiro
Address: Rua Gustavo Sampaio, 610, Leme, Rio de Janeiro
Cuisines: Brazilian, Seafood
Price range: 4
Aggregate rating: 4.2


Restaurant ID: 17284404
Restaurant Name: Austin's BBQ and Oyster Bar
City: Albany
Address: 2820 Meredyth Dr, Albany, GA 31707
Cuisines: BBQ, Burger, Seafood
Price range: 2
Aggregate rating: 3.3


Restaurant ID: 17284145
Restaurant Name: Hong Kong Cafe
City: Albany
Address: 2700 Dawson Rd, Albany, GA 31707
Cuisines: Chinese, Seafood, Vegetarian
Price range: 2
Aggregate rating: 3.6


Restaurant ID: 17284390
Restaurant Name: The Catch Seafood Room & Oyster Bar
City: Albany
Address: 2332 Whispering Pines Road, Albany, GA 31707
Cuisines: Seafood, Tapas, Bar Food
Price range: 3
Aggregate rating: 3.8

In [146]:
def restaurant_details_by_online_delivery(online_delivery, data):
    delivery_status = "Yes" if online_delivery == 1 else "No"
    restaurants = data[data['Has Online delivery'] == delivery_status]
    if restaurants.empty:
        print(f"No restaurants offer online delivery: {delivery_status}")
    else:
        num_restaurants = min(10, len(restaurants))
        print(f"Total number of restaurants offering online delivery: {len(restaurants)}")
        print(f"Displaying a sample of {num_restaurants} restaurants that offer online delivery:\n")
        for index, row in restaurants.head(10).iterrows():
            print("Restaurant ID:", row['Restaurant ID'])
            print("Restaurant Name:", row['Restaurant Name'])
            print("City:", row['City'])
            print("Address:", row['Address'])
            print("Cuisines:", row['Cuisines'])
            print("Price range:", row['Price range'])
            print("Aggregate rating:", row['Aggregate rating'])
            print("Has Online delivery:", row['Has Online delivery'])
            print("\n")

user_data = int(input("Enter 1 for restaurants with online delivery, 0 otherwise: "))
restaurant_details_by_online_delivery(user_data, data)

Enter 1 for restaurants with online delivery, 0 otherwise: 0
Total number of restaurants offering online delivery: 7091
Displaying a sample of 10 restaurants that offer online delivery:

Restaurant ID: 6317637
Restaurant Name: Le Petit Souffle
City: Makati City
Address: Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City
Cuisines: French, Japanese, Desserts
Price range: 3
Aggregate rating: 4.8
Has Online delivery: No


Restaurant ID: 6304287
Restaurant Name: Izakaya Kikufuji
City: Makati City
Address: Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City
Cuisines: Japanese
Price range: 3
Aggregate rating: 4.5
Has Online delivery: No


Restaurant ID: 6300002
Restaurant Name: Heat - Edsa Shangri-La
City: Mandaluyong City
Address: Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City
Cuisines: Seafood, Asian, Filipino, Indian
Price range: 4
Aggregate rating: 4.4
Has Online delivery: No


Restaurant ID: 6318506
Restaurant Name: Ooma
City: Mandaluyong City
Address: Third Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City
Cuisines: Japanese, Sushi
Price range: 4
Aggregate rating: 4.9
Has Online delivery: No


Restaurant ID: 6314302
Restaurant Name: Sambo Kojin
City: Mandaluyong City
Address: Third Floor, Mega Atrium, SM Megamall, Ortigas, Mandaluyong City
Cuisines: Japanese, Korean
Price range: 4
Aggregate rating: 4.8
Has Online delivery: No


Restaurant ID: 18189371
Restaurant Name: Din Tai Fung
City: Mandaluyong City
Address: Ground Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City
Cuisines: Chinese
Price range: 3
Aggregate rating: 4.4
Has Online delivery: No


Restaurant ID: 6300781
Restaurant Name: Buffet 101
City: Pasay City
Address: Building K, SM By The Bay, Sunset Boulevard, Mall of Asia Complex (MOA), Pasay City
Cuisines: Asian, European
Price range: 4
Aggregate rating: 4.0
Has Online delivery: No


Restaurant ID: 6301290
Restaurant Name: Vikings
City: Pasay City
Address: Building B, By The Bay, Seaside Boulevard, Mall of Asia Complex (MOA), Pasay City
Cuisines: Seafood, Filipino, Asian, European
Price range: 4
Aggregate rating: 4.2
Has Online delivery: No


Restaurant ID: 6300010
Restaurant Name: Spiral - Sofitel Philippine Plaza Manila
City: Pasay City
Address: Plaza Level, Sofitel Philippine Plaza Manila, CCP Complex, Pasay City
Cuisines: European, Asian, Indian
Price range: 4
Aggregate rating: 4.9
Has Online delivery: No


Restaurant ID: 6314987
Restaurant Name: Locavore
City: Pasig City
Address: Brixton Technology Center, 10 Brixton Street, Kapitolyo, Pasig City
Cuisines: Filipino
Price range: 3
Aggregate rating: 4.8
Has Online delivery: No

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19710 entries, 0 to 19709
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant ID        19710 non-null  int64
 1   Restaurant Name      19710 non-null  object
 2   City                 19710 non-null  object
 3   Address              19710 non-null  object
 4   Cuisines             19710 non-null  object
 5   Price range          19710 non-null  int64
 6   Aggregate rating     19710 non-null  float64
 7   Has Online delivery  19710 non-null  object
 8   sep_cuisines         19710 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 1.4+ MB

In [140]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant ID        9542 non-null   int64
 1   Restaurant Name      9542 non-null   object
 2   City                 9542 non-null   object
 3   Address              9542 non-null   object
 4   Cuisines             9542 non-null   object
 5   Price range          9542 non-null   int64
 6   Aggregate rating     9542 non-null   float64
 7   Has Online delivery  9542 non-null   object
 8   sep_cuisines         9542 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 745.5+ KB

In [151]:
def call_function(day):
    match day:
        case 1:
            userdata=input("Enter Restaurent Name: ")
            restaurant_details_by_name(userdata, data)
        case 2:
            user_data=input("Enter City: ")
            restaurant_details_by_city(user_data, data)
        case 3:
            user_data=int(input("Enter price(1-4): "))
            restaurant_details_by_price(user_data, data)
        case 4:
            user_data=float(input("Enter minimum aggregate rating(0-4.9): "))
            restaurant_details_by_rating(user_data, data)
        case 5:
            user_data=input("Enter cuisines you prefer: ")
            restaurant_details_by_cuisines(user_data, df)
        case 6:
            user_data = int(input("Enter 1 for restaurants with online delivery, 0 otherwise: "))
            restaurant_details_by_online_delivery(user_data, data)
        case _:
            return "Invalid data"

print("Select the criteria for restaurant recommendations:")
print("option 1: By Name\noption 2: By City\noption 3: By Price\noption 4: By Rating\noption 5: By Cuisines\noption 6: By Online delivery availability")
call_function(int(input("")))

Select the criteria for restaurant recommendations:
option 1: By Name
option 2: By City
option 3: By Price
option 4: By Rating
option 5: By Cuisines
option 6: By Online delivery availability
5
Enter cuisines you prefer: Seafood
Total number of restaurants with cuisine Seafood: 174
Displaying a sample of 10 restaurants:

Restaurant ID: 6300002
Restaurant Name: Heat - Edsa Shangri-La
City: Mandaluyong City
Address: Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City
Cuisines: Seafood, Asian, Filipino, Indian
Price range: 4
Aggregate rating: 4.4


Restaurant ID: 6301290
Restaurant Name: Vikings
City: Pasay City
Address: Building B, By The Bay, Seaside Boulevard, Mall of Asia Complex (MOA), Pasay City
Cuisines: Seafood, Filipino, Asian, European
Price range: 4
Aggregate rating: 4.2


Restaurant ID: 6315438
Restaurant Name: NIU by Vikings
City: Taguig City
Address: Sixth Floor, SM Aura Premier, C5 Road Corner 26th Street, Bonifacio Global City, Taguig City
Cuisines: Seafood, American, Mediterranean, Japanese
Price range: 4
Aggregate rating: 4.7


Restaurant ID: 6310406
Restaurant Name: The Food Hall by Todd English
City: Taguig City
Address: Fifth Floor, SM Aura Premier, C5 Corner 26th Street, Bonifacio Global City, Taguig City
Cuisines: American, Asian, Italian, Seafood
Price range: 4
Aggregate rating: 4.5


Restaurant ID: 6601158
Restaurant Name: Manzuï¿½ï¿½
City: Brasï¿½_lia
Address: Pontï¿½ï¿½o Lago Sul, SHIS 10, Lote 9, Lago Sul, Brasï¿½_lia
Cuisines: Seafood
Price range: 4
Aggregate rating: 3.2


Restaurant ID: 7303219
Restaurant Name: Pesqueiro Eco Gourmet
City: Rio de Janeiro
Address: Praia da Barra da Tijuca, Avenida Lï¿½_cio Costa, Ilha 25, Barra da Tijuca, Rio de Janeiro
Cuisines: Seafood, Bar Food, Brazilian
Price range: 4
Aggregate rating: 4.0


Restaurant ID: 7302140
Restaurant Name: Shirley
City: Rio de Janeiro
Address: Rua Gustavo Sampaio, 610, Leme, Rio de Janeiro
Cuisines: Brazilian, Seafood
Price range: 4
Aggregate rating: 4.2


Restaurant ID: 17284404
Restaurant Name: Austin's BBQ and Oyster Bar
City: Albany
Address: 2820 Meredyth Dr, Albany, GA 31707
Cuisines: BBQ, Burger, Seafood
Price range: 2
Aggregate rating: 3.3


Restaurant ID: 17284145
Restaurant Name: Hong Kong Cafe
City: Albany
Address: 2700 Dawson Rd, Albany, GA 31707
Cuisines: Chinese, Seafood, Vegetarian
Price range: 2
Aggregate rating: 3.6


Restaurant ID: 17284390
Restaurant Name: The Catch Seafood Room & Oyster Bar
City: Albany
Address: 2332 Whispering Pines Road, Albany, GA 31707
Cuisines: Seafood, Tapas, Bar Food
Price range: 3
Aggregate rating: 3.8